@import "vendor/neat/neat-helpers";

// Change the grid settings
$visual_grid: false;
$max-width: em(960);

// Define your breakpoints
$small: new-breakpoint(max-width em(767) 12);
$medium: new-breakpoint(min-width em(768) 12);
$large: new-breakpoint(min-width em(1000) 12);